html,
body {
  height: 100%;
}

.loginBody{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}
h1{
  color:white;
}
.img{
  /* height:150px; */
  width: 175px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-control{
  height: 60px;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
    border-radius: 0;
    margin-bottom: -1px;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dashboardBody{
  background: black;
}
.menu{
  display: flex;
  padding:20px
}
.card_container{
  align-items: center;
  display: flex;
}
.card{
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --redmain: #ff0000;
  --redlight: #ff000020;
}

.body{
  background: var(--black);
}

.container {
  position: relative;
  text-align: center;
  color: var(--white);
}

.intrologo{
  width:95%;
  margin-top: 5%;
  transition-duration: 0.5s;
}

.navbar-logo{
  width: 100px;
  margin-left:20px;
}

.intrologo:hover{
  transform: scale(1.015);
}

.introimg1{
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition-duration: 0.5s;
}

.introimg1:hover{
  transform: scale(1.015);
}

.introtitle{
  font-family: 'Satisfy', cursive;
  font-size: 225%;
  color: var(--white);;
  padding-top: 1%;
  transition-duration: 0.5s;
  letter-spacing: 2.5%;
}

.introtitle:hover{
  letter-spacing: 1px;
}

.button{background-color:var(--redlight);
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  color: var(--white);;
  margin: 1.5%;
  margin-top: 12.5%;
  margin-bottom:7%;
  border: 2px solid var(--redmain);
  border-radius: 10px;
  padding: 7.5px 10%;
  transition-duration: 0.5s;
}
      
.button:hover{background-color: var(--redmain);
        color: var(--white);
        border: var(--black) solid 2px;
        transform: scale(1.025);
}

.footer{
  background-color:var(--redmain);
  margin: 0%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}

.headertext{
  font-family: 'Satisfy', cursive;
  font-size: 150%;
  letter-spacing: 3px;
  color:var(--white);;
}

.footertext{
  font-size: 125%;
  color:var(--white);;
}

.header{
  background-color:var(--redmain);
  margin: 0%;
  padding: 0%;
}